/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/vars';

@import './components/example';
@import './components/test';
@import './components/reviews';
