@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --main-pink-bg-color: #ffb8ca;
  --light-pink-bg-color: #fff5f6;
  --dark-pink-bg-color: #e17992;
  --main-green-bg-color: #c2e297;
  --main-brown-bg-color: #f0d1a5;
  --main-white-bg-color: #E5E5E5;
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --main-grey-color: #907e82;
  --dark-pink-color: #d41443;
  --main-pink-color: #ffa5ba;
  --main-font: "DM Sans", sans-serif;
  --secondary-font: "Titan One", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Titan One", sans-serif;
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

.contacts-section {
  padding-top: 56.4px;
  margin-top: 86px;
}
.contacts-section__header {
  visibility: hidden;
}

.grid {
  background-color: #fff5f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 54px;
}
.grid .card:nth-of-type(1) {
  margin-top: -84px;
}

.card__text-hours, .card__text-days, .card__text-place, .card__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}

.card {
  padding: 43px 20px 43px 20px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  height: 427px;
}
.card__category {
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  text-align: center;
}
.card__category--green {
  background-color: #c2e297;
  width: 130px;
}
.card__section {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  padding-top: 25px;
}
.card__section--no-border {
  border: none;
}
.card__text-place {
  margin-bottom: 10px;
}
.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.card__text-hours {
  color: #ffa5ba;
}
.card__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  text-decoration: none;
}

.btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff5f6;
  padding-bottom: 113px;
}
.btn-list__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  padding: 10px 17px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__item:hover, .btn-list__item:focus {
  background-color: #ecebeb;
}
.btn-list__item--pink {
  color: #ffffff;
  background: #d41443;
}
.btn-list__item--pink:hover, .btn-list__item--pink:focus {
  background: #d41342;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 50.4px;
    margin-top: 119px;
  }
  .grid {
    justify-content: center;
    flex-direction: row;
    padding-bottom: 78px;
  }
  .card {
    padding: 50px 30px 50px 30px;
    height: 544px;
    margin-top: -84px;
  }
  .card__category {
    width: 73px;
    font-size: 16px;
    line-height: 1.87;
  }
  .card__category--green {
    width: 138px;
  }
  .card__section {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .card__text-place, .card__text, .card__text-days, .card__text-hours, .card__link {
    font-size: 14px;
    line-height: 1.85;
  }
  .btn-list {
    flex-direction: row;
    justify-content: center;
    gap: 14.5px;
    padding-bottom: 158px;
  }
  .btn-list__item {
    padding: 10px 35px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    margin-top: 132px;
    padding-top: 84.4px;
  }
  .grid {
    padding-bottom: 86px;
  }
  .grid .card:nth-child(1) {
    margin-top: -112px;
  }
  .card {
    padding: 51px 44px 62px 43px;
    width: 330px;
    height: 572px;
    margin-top: -112px;
  }
  .card__section {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .card__text-place, .card__text, .card__text-days, .card__text-hours {
    font-size: 16px;
    line-height: 1.87;
  }
  .card__link {
    font-size: 16px;
    line-height: 1.81;
  }
  .btn-list {
    padding-bottom: 165px;
    gap: 14.5px;
  }
  .btn-list__item {
    padding: 10px 36px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.75);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  background: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #e17992;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.modal__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}
.modal__link {
  text-align: center;
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.modal__picture {
  border-radius: 50px;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 700px;
  }
  .modal__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 1100px;
  }
  .modal__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
  }
  .modal__link {
    font-size: 16px;
    line-height: 1.85;
  }
  .modal__picture {
    width: 300px;
  }
}
.gallery__img {
  margin-top: -48px;
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery__img {
    margin-top: -106px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .gallery__img {
    width: 1280px;
    margin-top: -171px;
  }
}
.footer {
  background-color: #FFF5F6;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__column {
    display: flex;
    margin-bottom: 91px;
    justify-content: space-between;
  }
}
.footer__motto {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 43px;
  width: 234px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__motto {
    margin-left: 36px;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__motto {
    margin-left: 114px;
    width: 472px;
  }
}
.footer__motto--text1 {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .footer__motto--text1 {
    font-family: "Titan One";
    font-size: 26px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__motto--text1 {
    font-family: "Titan One";
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 15px;
  }
}
.footer__motto--text2 {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .footer__motto--text2 {
    font-size: 48px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1200px) {
  .footer__motto--text2 {
    font-size: 59px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .footer__comunication {
    display: flex;
    flex-direction: column;
    margin-right: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__comunication {
    margin-right: 121px;
  }
}
.footer__social-media {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 46px;
  width: 100%;
}
.footer__social-media--icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(254, 165, 187);
  display: flex;
  justify-content: center;
}
.footer__social-media--icon:hover {
  background-color: #D41443;
  border-radius: 50%;
}
.footer__social-media--Git {
  width: 20px;
  height: 34px;
}
.footer__social-media--telegram {
  width: 22px;
  height: 34px;
}
.footer__social-media--facebook {
  width: 10px;
  height: 34px;
}
.footer__contact {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-bottom: 43px;
  width: 100%;
}
.footer__contact--text {
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 1.8;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 768px) {
  .footer__contact--text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact--text {
    font-size: 16px;
  }
}
.footer__contact--tel {
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 1.8;
  font-weight: 500;
  text-decoration: none;
  color: rgb(212, 20, 67);
}
@media screen and (min-width: 768px) {
  .footer__contact--tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact--tel {
    font-size: 16px;
  }
}
.footer__right {
  border-top: solid #E1E1E1 1px;
  width: 100%;
}
.footer__right--text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(144, 126, 130);
  text-align: center;
  padding: 22px 91px 25px 80px;
}/*# sourceMappingURL=main.css.map */