.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 24px;
  background-color: $darkPinkBgColor;
  transform: translateX(0%);
  will-change: transform;
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: $tablet) {
    width: 254px;
  }

  &__x-button {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 28px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    fill: $mainWhiteColor;
    scale: 2;
  }

  &__button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    gap: 25px;
    height: 44px;
    width: 100%;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $darkPinkColor;
    background-color: $mainWhiteColor;
    border: 0;
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $secondaryHoverColor;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    padding-top: 19px;
  }

  &__item {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.31;
    padding-block: 6px;
    margin-block: 0;
    border-top: 1px solid $secondaryBorderColor;
    border-bottom: 1px solid $secondaryBorderColor;
    scale: 1;
    will-change: scale;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center left;

    &:hover,
    &:active {
      will-change: scale;
      scale: 1.2;
    }
  }

  &__link {
    font-family: $mainFont;
    color: $mainWhiteColor;
    text-decoration: none;
    padding-block: 0;
    margin-block: 0;
  }

  &__link--active {
    color: $darkPinkColor;
  }
}

.display-none {
  transform: translateX(100%);
}
