*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p,
ul,
address,
fieldset,
textarea,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  resize: none;
}

$mainPinkBgColor: #ffb8ca;
$lightPinkBgColor: #fff5f6;
$darkPinkBgColor: #e17992;
$mainGreenBgColor: #c2e297;
$mainBrownBgColor: #f0d1a5;
$mainWhiteColor: #ffffff;
$mainBlackColor: #000000;
$mainGreyColor: #907e82;
$darkPinkColor: #d41443;
$mainPinkColor: #ffa5ba;
$mainFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', cursive;
$mobile: 480px;
$tablet: 768px;
$laptop: 1200px;
