:root {
  --main-pink-bg-color: #ffb8ca;
  --light-pink-bg-color: #fff5f6;
  --dark-pink-bg-color: #e17992;
  --main-green-bg-color: #c2e297;
  --main-brown-bg-color: #f0d1a5;
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --main-grey-color: #907e82;
  --dark-pink-color: #d41443;
  --main-pink-color: #ffa5ba;
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
}

$mainPinkBgColor: #ffb8ca;
$lightPinkBgColor: #fff5f6;
$darkPinkBgColor: #e17992;
$mainGreenBgColor: #c2e297;
$mainBrownBgColor: #f0d1a5;
$mainWhiteColor: #ffffff;
$mainBlackColor: #000000;
$mainGreyColor: #907e82;
$darkPinkColor: #d41443;
$mainPinkColor: #ffa5ba;
$mainFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', cursive;
