<!-- SEKCJA ADVANTAGES - EMILIA Z -->
<section class="advantages" id="adventages">
      <h2 class="advantages__name">Advantages</h2>
      <ul class="advantages__list">
        <li class="advantages__element advantages__element--first">
          <h3 class="advantages__title">721</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__element advantages__element--second">
          <h3 class="advantages__title">16kg</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__element advantages__element--third">
          <h3 class="advantages__title">84</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </section>