<footer class="footer">
  <!-- <==== podział na kolumny w footer ====> -->
  <div class="footer__column">
    <ul class="footer__motto container">
      <li class="footer__motto--text1"><p>homemade ice cream made</p></li>
      <li class="footer__motto--text2"><p>with passion</p></li>
    </ul>
    <div class="footer__comunication">
      <ul class="footer__social-media container">
        <li class="footer__social-media--icon">
          <a href="https://github.com/" target="_blank">
            <svg class="footer__social-media--Git">
              <use href="./images/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="footer__social-media--icon">
          <a href="https://telegram.org/" target="_blank">
            <svg class="footer__social-media--telegram">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer__social-media--icon">
          <a href="https://pl-pl.facebook.com/" target="_blank">
            <svg class="footer__social-media--facebook">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <div class="footer__contact container">
        <p class="footer__contact--text">Feel free to contact</p>
        <a class="footer__contact--tel" href="tel:+48666666666">+48 666 666 666</a>
      </div>
    </div>
  </div>
  <!-- <==== podział na kolumny w footer ====> -->
  <div class="footer__right">
    <p class="footer__right--text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
