<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>x</button>
    <ul class="modal__list">
      <li>
        <a class="modal__link" href="https://goo.gl/maps/Nn6KH7ey1XZh4ixT6">
          <figure>
            <img
              class="modal__picture"
              src="./images/contacts/chicago.jpg"
              alt="Panorama Chicago"
              width="200"
            />
            <figcaption>Chicago</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="modal__link" href="https://goo.gl/maps/ybBViLinEWeCZjrN6">
          <figure>
            <img
              class="modal__picture"
              src="./images/contacts/los angeles.jpg"
              alt="Panorama Los Angeles"
              width="200"
            />
            <figcaption>Los Angeles</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a class="modal__link" href="https://goo.gl/maps/LsBdruiYoEhoPQ3MA">
          <figure>
            <img
              class="modal__picture"
              src="./images/contacts/chicago.jpg"
              alt="Panorama Chicago"
              width="200"
            />
            <figcaption>New York</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</div>
