<!-- SEKCJA PRODUCTS - FILIP_Z -->
<section class="products-section">
  <p class="products-section__subtitle">100% NATURAL</p>
  <h2 class="products-section__title">PRODUCTS</h2>
  <ul class="grid-products">
    <li class="card-products card-products--icecream">
      <ul>
        <li class="card-products__pics">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/products/cream-l@1x.png 1x, ./images/products/cream-l@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/products/cream-m@1x.png 1x, ./images/products/cream-m@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/products/cream-s@1x.png 1x, ./images/products/cream-s@2x.png 2x"
              type="image/png"
            />
            <img
              class="card-products__image"
              src="./images/products/cream-l@1x.png"
              alt="ice cream coffee"
            />
          </picture>
        </li>
        <li class="card-products__section">
          <h3 class="card-products__title">ICE CREAM</h3>
          <div class="card-products__dots">
            <svg class="card-products__svg"><use href="./images/icons.svg#icon-Group-5"></use></svg>
          </div>
          <p class="card-products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
        </li>
        <li>
          <button class="card-products__btn" type="button"></button>
        </li>
      </ul>
    </li>
    <li class="card-products card-products--icecoffee">
      <ul>
        <li class="card-products__pics">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/products/coffee-l@1x.png 1x, ./images/products/coffee-l@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/products/coffee-m@1x.png 1x, ./images/products/coffee-m@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/products/coffee-s@1x.png 1x, ./images/products/coffee-s@2x.png 2x"
              type="image/png"
            />
            <img
              class="card-products__image"
              src="./images/products/coffee-l@1x.png"
              alt="ice coffee"
            />
          </picture>
        </li>
        <li class="card-products__section">
          <h3 class="card-products__title">ICE COFFEE</h3>
          <div class="card-products__dots">
            <svg class="card-products__svg"><use href="./images/icons.svg#icon-Group-5"></use></svg>
          </div>
          <p class="card-products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
        </li>
        <li>
          <button class="card-products__btn" type="button"></button>
        </li>
      </ul>
    </li>
    <li class="card-products card-products--milkshakes">
      <ul>
        <li class="card-products__pics">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/products/milkshakes-l@1x.png 1x,
                ./images/products/milkshakes-l@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/milkshakes-m@1x.png 1x,
                ./images/products/milkshakes-m@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/milkshakes-s@1x.png 1x,
                ./images/products/milkshakes-s@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="card-products__image"
              src="./images/products/milkshakes-l@1x.png"
              alt="milkshake coffee"
            />
          </picture>
        </li>
        <li class="card-products__section">
          <h3 class="card-products__title">MILKSHAKES</h3>
          <div class="card-products__dots">
            <svg class="card-products__svg"><use href="./images/icons.svg#icon-Group-5"></use></svg>
          </div>
          <p class="card-products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
        </li>
        <li>
          <button class="card-products__btn" type="button"></button>
        </li>
      </ul>
    </li>
  </ul>
</section>
