<div class="reviews">
  <img class="reviews__photo" src="./images/reviews/customer1@1x.png" alt="first client Emily" />

  <div class="reviews__description">
    <div class="reviews__background">
      <div class="reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </div>
    </div>
  </div>

  <div class="reviews__client">Emily, Los Angeles</div>

  <div class="reviews__dots">
    <svg class="reviews__svg"><use href="./images/icons.svg#icon-home"></use></svg>
    <svg class="reviews__svg"><use href="./images/icons.svg#icon-dot"></use></svg>
    <svg class="reviews__svg"><use href="./images/icons.svg#icon-dot"></use></svg>
  </div>
</div>
