.gallery {
  display: flex;
  justify-content: center;
  &__img {
    margin-top: -48px;
    width: 364px;
    height: 122px;
  }
}
@media screen and (min-width: $tablet) {
  .gallery {
    min-width: 786px;
    height: 264px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: $laptop),
  screen and (min-resolution: 192dpi) and (min-width: $laptop),
  screen and (min-resolution: 2dppx) and (min-width: $laptop) {
  .gallery {
    width: 1600px;
    height: 430px;
  }
}
