.header {
  background-color: $mainPinkBgColor;
  z-index: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &__container {
    padding: 0 20px;
    margin: 0 auto;
    min-width: 320px;

    @media screen and (min-width: $tablet) {
      padding: 0 34px;
      max-width: 768px;
    }

    @media screen and (min-width: $laptop) {
      padding: 0 155px;
      max-width: 1280px;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__button-menu {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  &__button-icon {
    fill: $darkPinkColor;
    scale: 3;
  }

  &__wrapper {
    position: relative;
  }

  &__background-image {
    position: absolute;
    right: 15%;
    z-index: -1;
  }

  &__background-image-circle {
    margin-right: -20px;
    top: 83px;
    right: -62px;
    width: 348px;
  }

  &__background-image-ice-cream {
    margin-right: -20px;
    bottom: -2px;
    right: 32px;
    width: 171px;
  }

  &__background-image-girl {
    display: none;
  }

  &__coffee-info {
    display: none;
    position: fixed;
  }

  &__coffee-number {
    color: $darkPinkColor;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transform: scale(1);
    transition-duration: 0.6s;

    &:hover {
      transform: translate(20px, 10px);
      transition-duration: 0.9s;
    }

    &::after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0;
      width: 16px;
      height: 16px;
      background-color: $mainWhiteColor;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__coffee-description {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 18px;
    color: $mainWhiteColor;
    text-align: right;
  }

  &__truck-info {
    display: none;
  }

  &__truck-number {
    color: $darkPinkColor;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transform: scale(1);
    transition-duration: 0.6s;

    &:hover {
      transform: translate(20px, 10px);
      transition-duration: 0.9s;
    }

    &::after {
      content: '';
      position: absolute;
      right: -7px;
      top: 0;
      width: 16px;
      height: 16px;
      background-color: $mainWhiteColor;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__truck-description {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 18px;
    color: $mainWhiteColor;
    text-align: right;
  }

  &__bar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 6px 0 0 0;
    margin-right: 0;
    align-items: center;
  }

  &__logo {
    height: 53px;
    cursor: pointer;
    z-index: 2;
  }

  &__nav {
    display: none;

    @media screen and (min-width: $laptop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      gap: 35px;
      z-index: 2;
    }
  }

  &__main-button {
    display: none;
  }

  &__left-side {
    width: 220px;
    padding-top: 137px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 220px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $mainWhiteColor;
  }

  &__title--description {
    font-size: 48px;
    line-height: 96.5%;
    letter-spacing: 0.04em;
    color: $darkPinkColor;
    padding: 0;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 157px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 18px;
  }

  &__button-link {
    text-decoration: none;
  }

  &__left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62.4px;
    height: 24px;
    background-color: $darkPinkColor;
    border: 0;
    border-radius: 20px;
    color: $mainWhiteColor;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $mainHoverColor;
    }
  }

  &__right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.8px;
    height: 24px;
    background-color: $mainWhiteColor;
    border: 0;
    border-radius: 22px;
    color: $darkPinkColor;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $secondaryHoverColor;
    }
  }

  &__bg-milk-image {
    display: none;
  }

  &__description-text {
    display: none;
  }

  &__left-bar-wrapper {
    display: none;
  }

  &__button-arrow {
    display: none;
  }
}

.button-link {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  font-style: inherit;
  
}

@media screen and (min-width: $tablet) {
  .header {
    &__background-image-circle {
      margin-right: -34px;
      top: 31px;
      right: 189px;
      width: 324px;
    }

    &__background-image-ice-cream {
      margin-right: -34px;
      right: 247px;
      width: 143px;
    }

    &__background-image-girl {
      display: block;
      position: absolute;
      margin-right: -34px;
      bottom: -2px;
      right: 34px;
      width: 168px;
    }

    &__coffee-info {
      display: block;
      position: absolute;
      top: 94px;
      right: 0;
      text-align: right;
    }

    &__truck-info {
      display: block;
      position: absolute;
      top: 151px;
      right: 0;
      text-align: right;
    }

    &__bar-wrapper {
      padding: 38px 0 0 0;
      margin-right: -8px;
    }

    &__main-button {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 12px 35px;
      background-color: $mainWhiteColor;
      border: 0;
      border-radius: 22px;
      color: $darkPinkColor;
      cursor: pointer;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      z-index: 12;

      &:hover {
        background-color: $secondaryHoverColor;
      }
    }

    &__left-side {
      width: 418px;
      padding-top: 15px;
    }

    &__title {
      max-width: 180px;
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      padding-top: 3px;
    }

    &__title--description {
      font-size: 34px;
      line-height: 90.5%;
      padding: 0;
    }

    &__buttons {
      gap: 15px;
      padding-bottom: 19px;
    }

    &__bg-milk-image {
      display: block;
      z-index: -1;
      width: 124px;
      margin-left: 0px;
    }

    &__description-text {
      display: block;
      max-width: 135px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: $mainWhiteColor;
      margin-left: -4px;
      margin-right: 0;
      padding: 0px;
    }

    &__left-bar-wrapper {
      display: flex;
      gap: 0px;
      max-width: 270px;
      align-items: flex-end;
      padding-bottom: 28px;
    }

    &__button-arrow {
      display: flex;
      padding-top: 7px;
      padding-bottom: 9px;
      margin-left: -4px;
      width: 18px;
      transform: rotate(0deg);
      transition-duration: 0.7s;

      &:hover {
        transform: scale(1.15);
        transform: rotate(360deg);
        transition-duration: 1s;
      }
    }

    &__lorem-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      padding-left: 10px;
    }
  }
}

@media screen and (min-width: $laptop) {
  .header {
    &__button-icon {
      display: none;
    }

    &__background-image-circle {
      margin-right: -115px;
      top: 52px;
      right: 267px;
      width: 538px;
    }

    &__background-image-ice-cream {
      margin-right: -115px;
      right: 450px;
      width: 236px;
    }

    &__background-image-girl {
      margin-right: -115px;
      right: 109px;
      width: 293px;
    }

    &__coffee-info {
      margin-right: -115px;
      top: 156px;
      right: 10%;
    }

    &__truck-info {
      margin-right: -115px;
      top: 248px;
      right: 10%;
    }

    &__bar-wrapper {
      padding: 38px 0 0 0;
      margin-right: 0;
    }

    &__coffee-number {
      font-size: 46px;
      line-height: 1.15;

      &::after {
        content: '';
        right: -15px;
        top: -5px;
        width: 30px;
        height: 30px;
      }
    }

    &__coffee-description {
      font-size: 14px;
    }

    &__truck-number {
      font-size: 46px;
      line-height: 1.15;

      &::after {
        content: '';
        right: -15px;
        top: -5px;
        width: 30px;
        height: 30px;
      }
    }

    &__truck-description {
      font-size: 14px;
    }

    &__nav-element {
      display: block;
      padding-block: 0;
      scale: 1;
      will-change: scale;
      transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:active {
        will-change: scale;
        scale: 1.2;
      }
    }

    &__nav-link {
      text-decoration: none;
      color: $mainWhiteColor;
      cursor: pointer;
      z-index: 100;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      z-index: 2;
    }

    &__nav-link--active {
      color: $darkPinkColor;
    }

    &__logo {
      margin-left: -69px;
    }

    &__main-button {
      gap: 13px;
      padding: 12px 37px;
    }

    &__left-side {
      padding-top: 84px;
    }

    &__title {
      max-width: 300px;
      font-size: 38px;
      line-height: 1.16;
    }

    &__title--description {
      font-size: 58px;
      padding: 0;
    }

    &__buttons {
      padding-top: 25px;
      padding-bottom: 56px;
      font-size: 14px;
    }

    &__bg-milk-image {
      width: 191px;
    }

    &__left-button {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.29;
    }

    &__right-button {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.29;
    }

    &__description-text {
      max-width: 200px;
      font-size: 14px;
      margin-left: 0;
      line-height: 1.4;
    }

    &__left-bar-wrapper {
      justify-content: space-between;
      gap: 30px;
      max-width: 600px;
      padding-bottom: 45px;
    }

    &__button-arrow {
      cursor: pointer;
      padding-top: 16px;
      padding-bottom: 11px;
      margin-left: 0;
      width: 26px;
    }
  }
}
